@import '{}/node_modules/bootswatch/dist/superhero/variables.scss';
@import '{}/node_modules/bootstrap/scss/bootstrap.scss';
@import '{}/node_modules/bootswatch/dist/superhero/bootswatch.scss';

body.modal-open div.modal-backdrop {
  z-index: 0;
}
header{
  position:relative;
}
.version{
  top:0;
  right:0;
  position:absolute;
}
.custom-select{
  -webkit-appearance: none;
}

.js-dataslist-cell,.delete{
  cursor: pointer;
    &:hover{
      background-color: #5F84E8 !important;
    }
}
.js-field-cell{
  cursor:pointer;
}
.ui-sortable-helper {
  display: table;
}