<template name="addCat">
    {{#if currentUser}}
        <button class="addCat btn btn-primary" data-toggle="modal" data-target="#addCat">Ajouter une catégorie</button>
        <!-- Modal -->
        <div class="modal fade" id="addCat" tabindex="-1" role="dialog" aria-labelledby="addCatLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addCatLabel">Ajouter une catégorie</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="addCatForm" class="test">
                                <div class="form-group">
                                        <label for="cat">Nommé votre catégorie :</label>
                                        <input type="text" name="cat" class="form-control" id="cat"
                                               placeholder="Entrer votre catégorie" required autofocus>
                                    {{>addFieldToCat}}
                                </div>
                                <div class="form-group">
                                    <button type="button" class="close btn btn-secondary" data-dismiss="modal"
                                            aria-label="Close">Annuler
                                    </button>
                                    <button type="submit" class="btn btn-primary" id="submit">Valider</button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
</template>