<template name="addFieldToCat">
        <fieldset>
            <label for="addFieldToForm">Choisissez des champs : </label>
            <select class="custom-select" name="addFieldToForm" id="addFieldToForm">
                <option selected="">Choisissez le(s) champ(s) à ajouter</option>
                <option value="text">Ajouter un champ texte</option>
                <option value="number">Ajouter un champ nombre</option>
                <option value="date">Ajouter un champ date</option>
            </select>
        </fieldset>
</template>