<template name="addToCat">
    <!-- Modal -->
    <div class="modal fade addToCat" id="addToCat{{_id}}" tabindex="-1" role="dialog"
         aria-labelledby="addToCat{{_id}}Label"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addToCat{{_id}}Label">{{catName}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form id="addToCatForm">
                        <div class="form-group">
                            <label for="addToCatInput{{_id}}">Ajouter une entrée pour {{catName}}</label>
                            <input type="text" name="addToCatInput{{_id}}" class="form-control"
                                   id="addToCatInput{{_id}}"
                                   aria-describedby="addToCatInput{{_id}}Help" placeholder="Ajouter une entrée">
                            <small id="addToCatInput{{_id}}Help" class="form-text text-muted">Appuyer sur entrée pour
                                valider !
                            </small>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-info float-right addToCat{{_id}}" title="Ajouter un(e) {{catName}}" data-toggle="modal" data-target="#addToCat{{_id}}"><i
            class="fas fa-plus" style="color:white"></i></button>

</template>